<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="modal">
        <div class="auth-modal-window">
            <div class="auth-modal-window-wrapper">
                <button class="modal-x-btn" id="auth-x-btn">X</button>
                <form action="" class="auth-modal-window-form">
                    <label for="auth-login-inp" class="login-label">Login</label>
                    <input type="text" class="auth-modal-window-form-input" id="auth-login-inp" placeholder="Enter login">
                    <br>
                    <label for="auth-password-inp">Password</label>
                    <input type="text" class="auth-modal-window-form-input" id="auth-password-inp" placeholder="Enter password">
                </form>
                <div class="auth-modal-window-text">
                    <div class="auth-modal-window-text-forgot">Forgot password?</div>
                    <div class="auth-modal-window-text-register">Are you still no registred? <a>Registrate</a></div>
                </div>
                <button class="blue-btn modal-login" id="modal-log-btn">Login</button>
            </div>
        </div>
    </div> 
</body>
</html>