<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/style/style.css">
    <title>ModalGallery</title>
</head>
<body>
    <div class="modal">
        <div class="gallery-modal">
            <button class="modal-x-btn" id="gallery-x">X</button>
            <div class="gallery-modal-wrapper">
                <div class="gallery-modal-view">
                    <div class="gallery-modal-view-wrapper">
                    </div>
                </div>
                <div class="gallery-modal-slider">
                    <div class="gallery-modal-slider-wrapper">
                        <div class="gallery-modal-slider-element"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>