<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/style.css">
    <title>Testing Page</title>
</head>
<body>
<script src="/src/script/app.js"></script>
<script src="/src/script/burgerMenu.js"></script>
<script src="/src/script/flatSlider.js"></script>
<script src="/src/script/components/modals/auth.modal.js"></script>
<script src="/src/script/components/modals/gallery.modal.js"></script>
</body>
</html>